@import "~styles/base/_constant.scss";

.observer {
    visibility: hidden;
    width: 100%;
    height: 166px;
    left: 0;
}
.episode-section {
    margin: 0 -1 * map-get($spacingVariables, "md");
    border-bottom: 1px solid $gray-400;
    background-color: $gray-100;
}

.episode-section-small {
    top: 45px;
    z-index: 1000;
}

.episode-logo {
    width: 150px;
    height: 150px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 6px 12px 0 rgba($gray-900, 0.1);
}

.episode-logo-small {
    width: 75px;
    height: 75px;
}

.desc-section-sticky {
    margin-top: 75px;
}