:global {
    .fz-normal {
        font-weight: normal;
    }
    .fz-bold {
        font-weight: bold;
    }
    .fz-12 {
        font-size: 12px;
    }
    .fz-13 {
        font-size: 13px;
    }
    .fz-14 {
        font-size: 14px;
    }
    .fz-15 {
        font-size: 15px;
    }
    .fz-16 {
        font-size: 16px;
    }
    .fz-17 {
        font-size: 17px;
    }
    .fz-18 {
        font-size: 18px;
    }
    .fz-20 {
        font-size: 20px;
    }
    .fz-22 {
        font-size: 22px;
    }
    .fz-24 {
        font-size: 24px;
    }
    .fz-30 {
        font-size: 30px;
    }
}
