// ==========================================================================
// variables
// ==========================================================================
// Color variables
// Primary color series
// ==========================================================================
$primary-100: #e6f3ff;
$primary-200: #bfe1ff;
$primary-300: #98ceff;
$primary-400: #59e3ff;
$primary-500: #09cef6;
$primary-600: #0065bf;
$primary-700: #005098;
$primary-800: #004684;
$primary-900: #192d5d;

// Red color series
// ==========================================================================
$red-100: #fee8e5;
$red-200: #fdc7bf;
$red-300: #fc9486;
$red-400: #fa5139;
$red-500: #fa2607;
$red-600: #cc1e05;
$red-700: #b21a04;
$red-800: #991604;
$red-900: #801303;

// Warning color series
// ==========================================================================
$warning-100: #fffde8;
$warning-200: #ffeac1;
$warning-300: #ffbb99;
$warning-400: #fe884e;
$warning-500: #fe5a0a;
$warning-600: #d44211;
$warning-700: #cc2d05;
$warning-800: #963403;
$warning-900: #662200;

// Green color series
// ==========================================================================
$green-100: #eefbf3;
$green-200: #d7f0dc;
$green-300: #9bdaa6;
$green-400: #50be64;
$green-500: #22a14e;
$green-600: #1b813e;
$green-700: #14612e;
$green-800: #0d401f;
$green-900: #0a3017;

// Teal color series
// ==========================================================================
$teal-100: #e5f7f5;
$teal-200: #c3f1eb;
$teal-300: #76e6d9;
$teal-400: #44cebe;
$teal-500: #0da594;
$teal-600: #008474;
$teal-700: #007063;
$teal-800: #005c52;
$teal-900: #004940;

// Gray color series
// ==========================================================================
$gray-100: #ffffff;
$gray-200: #f7f7f7; // 背景主要用色
$gray-300: #ededed;
$gray-400: #e1e1e1; // 線條主要用色
$gray-500: #bdbdbd;
$gray-600: #999999; // 次要資訊用色
$gray-700: #5d5d5d;
$gray-800: #323232;
$gray-900: #000000;

$spacingVariables: (
    xs: 5px,
    sm: 10px,
    md: 15px,
    lg: 20px,
    xl: 25px,
    xxl: 30px,
    auto: auto,
);
